HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.m2/**


# Node modules
/service-app-fe/node_modules/

# Angular build output
/service-app-fe/dist/
/service-app-fe/out-tsc/



# Environment files


# Compiled output
/service-app-fe/**/*.js
/service-app-fe/**/*.js.map
/service-app-fe/**/*.tsbuildinfo

# System files
.DS_Store
Thumbs.db

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: OS-specific
ehthumbs.db
Desktop.ini

# Optional: Docker and Build Artifacts
docker-compose.override.yml
frontend-app*.tar
*.log

# Optional: Package manager lockfiles
# (if using Yarn, remove package-lock.json instead)
/service-app-fe/package-lock.json

/service-app-fe/.angular/cache/** 
# End
