<div class="form-group">
    <label>{{ label }}</label>
    <input
      [type]="type"
      [placeholder]="placeholder"
      [formControl]="control"
      class="form-control"
    />
  
    <div class="error-message" *ngIf="control?.invalid && control?.touched">
      <small *ngIf="control?.errors?.['required']">This field is required.</small>
      <small *ngIf="control?.errors?.['minlength']">
        Minimum {{ control.errors?.['minlength'].requiredLength }} characters required.
      </small>
    </div>
  </div>
  